@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap');
body{
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background-color: black;
    
}
.disco{
    background-image: url(images/disco.gif);
    background-repeat: no-repeat;
    background-size:100%;
}
.music_section{
    margin-right: 40px;
    width: 300px;
    height: 600px;
    box-shadow: 0 0 20px #C539B4;
    border-radius: 10px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
}
.back{
    background-image: url(images/back.gif);
}
img{
    width: 300px;
    border-radius: 10px;
    
}
input, button{
    margin-top: 20px;
    position: relative;
    left: 20px;
    text-align: center;
}

audio{
    position: relative;
    top: 20px;
    left: 15px;
    width: 90%;
}
#search_button{
    border: none;
    background: none;
    position: relative;
    left: -30px;
    top: 10px;

}
input[placeholder]{
    font-size: 1rem;
    width: 250px;
    height: 31px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 20px #C539B4;
    text-align: center;
    border-right: none;
}


.songs_list{
    width: max-content;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0 0 20px #C539B4;
}
a{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
}
a:hover{
    background-color: #C539B4;
    cursor: pointer;
    border-radius: 10px;

}
.search{
    width: 30px;
    
}
.search:hover{
    cursor: pointer;
}

@media screen and (max-width: 800px){
    body{
        display: flex;
        flex-direction: column;
    }
    .music_section{
        margin: 30px 0;
    }
    .disco{
        background-size: 250%;
        background-position: 50% 10%;
    }
    .songs_list{
        width: 300px;
    }
    
}