*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    text-align: center;
}

main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 0.5rem;
    margin-top: 1rem;
    
}

img{
    width: 350px;
    height: 300px;

}

input{
    margin-top: 3rem;
    width: 400px;
    height: 30px;
    border-radius: 30px;
    border: 3px solid purple;
    text-align: center;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background-color: purple;
    color: white;
    font-size: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;    
}

